<html>
  <head>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-2.4.0.min.js"></script>

    <script src="ngApp/prosoft.test.js"></script>
    <script src="ngApp/holidayFactory.js"></script>
    <script src="ngApp/testController.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body ng-app="prosoft.test">
      <form  ng-controller="testController as ctrl" class="form-horizontal" novalidate>
          <h2>Programming Exercise</h4>
          </br>
          <div class="row form-group">
               <label class="col-sm-2 control-label">Start Date</label>
               <div class="col-sm-4">
                   <p class="input-group">
                     <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="ctrl.model.startDate" is-open="ctrl.openedCalendar" close-text="Close" />
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                     </span>
                   </p>
               </div>
           </div>

           <div class="row form-group">
                <label class="col-sm-2 control-label">Number Of Days</label>
                <div class="col-sm-4">
                    <input type="number" min="1" max="1000" class="form-control" ng-model = "ctrl.model.numberOfDays" >
                </div>
            </div>

            <div class="row form-group">
                 <label class="col-sm-2 control-label">Country Code</label>
                 <div class="col-sm-4">
                     <input type="text" maxlength="2" class="form-control" ng-model = "ctrl.model.countryCode" >
                 </div>
             </div>
             <div class="row form-group">
                  <div class="col-sm-offset-2 col-sm-4">
                      <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.renderCalendars()">Render a calendar</button>
                  </div>
              </div>

              <div class="calendar" ng-if="ctrl.calendar.length">
                  <div class="container-week header-week">
                      <div class="item-day">S</div>
                      <div class="item-day">M</div>
                      <div class="item-day">T</div>
                      <div class="item-day">W</div>
                      <div class="item-day">T</div>
                      <div class="item-day">F</div>
                      <div class="item-day">S</div>
                  </div>
                  <div ng-repeat="month in ctrl.calendar">
                      <div class="header-month">{{month.name}}</div>
                      <div class="container-week" ng-repeat="week in month.weeks">
                          <div class="item-day {{day.className}}" ng-repeat="day in week.days">
                              {{day.day}}
                          </div>
                      </div>
                      <br>
                </div>
            </div>


      </form>
  </body>
</html>
